.cards-header {
	width: 90%;
	margin: 20px 0 40px 0;
	justify-self: center;
	justify-content: center;
	align-items: center;
}

.cards-header__title {
	justify-self: center;
	margin-bottom: 15px;
	font-size: 22px;
	font-weight: bold;
}

.filters {
	display: flex;
	align-items: center;
	gap: 15px;
	padding: 10px 20px;
	background-color: var(--color-background-accent);
	border-radius: var(--border-radius-large);
	flex-wrap: wrap;
	box-shadow: var(--shadow);
}

.filters__button {
	border: 1px solid transparent;
	background: transparent;
	padding: 8px 15px;
	cursor: pointer;
	font-size: 16px;
	border-radius: var(--border-radius-large);
	transition: all 0.2s ease;
	box-sizing: border-box;
}

.filters__button--active,
.filters__button:hover {
	background: var(--color-light);
	border-color: var(--color-primary);
}

.filters__more {
	position: relative;
	display: inline-block;
}

.filters__sort {
	margin-left: auto;
	display: flex;
	align-items: center;
	gap: 8px;
	cursor: pointer;
}

.more__button {
	outline: none;
	padding-right: 25px;
	border-radius: var(--border-radius-large);
}

.more::after {
	outline: none;
	content: '';
	position: absolute;
	right: 10px;
	top: 40%;
	width: 8px;
	height: 8px;
	border-right: 2px solid var(--color-accent);
	border-bottom: 2px solid var(--color-accent);
	transform: translateY(-50%) rotate(45deg);
}

.sort {
	position: relative;
	padding-left: 20px;
	cursor: pointer;
}

.sort::before {
	content: '↑↓';
	position: absolute;
	left: 1px;
	top: 40%;
	transform: translateY(-50%);
	color: var(--color-accent);
	font-size: 16px;
	font-weight: 900;
}
