.cardsHeader {
    width: 90%;
    margin: 1.5rem 0 2.5rem 0;
    justify-self: center;
    justify-content: center;
    align-items: center;
    align-self: center;

    &__title {
        justify-self: center;
        margin-bottom: 1rem;
        font-size: 1.5rem;
        font-weight: bold;
    }

    &__filters {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0.75rem 1.5rem;
        background-color: var(--color-background-accent);
        border-radius: var(--border-radius-large);
        flex-wrap: wrap;
        box-shadow: var(--shadow);
    }

    &__more {
        position: relative;
        display: inline-block;
    }

    &__sort {
        margin-left: auto;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
        position: relative;
        padding-left: 2rem;

        &::before {
            content: '↑↓';
            position: absolute;
            left: 1px;
            top: 40%;
            transform: translateY(-50%);
            color: var(--color-accent);
            font-size: 1rem;
            font-weight: 900;
        }
    }
}

.filter {
    &__button {
        border: 1px solid transparent;
        background: transparent;
        padding: 0.5rem 1rem;
        cursor: pointer;
        font-size: 1rem;
        border-radius: var(--border-radius-large);
        transition: all 0.2s ease;
        box-sizing: border-box;

        &--active,
        &:hover {
            background: var(--color-light);
            border-color: var(--color-primary);
        }
    }

    &__more {
        &Button {
            outline: none;
			text-align: left;
            border-radius: var(--border-radius-large);
            border: 1px solid transparent;
            background: transparent;
            padding: 0.5rem 1rem;
            cursor: pointer;
            font-size: 1rem;
            transition: all 0.2s ease;
            position: relative;

            &::after {
                outline: none;
                content: '';
                position: absolute;
                right: 0.1rem;
                top: 40%;
                width: 0.5rem;
                height: 0.5rem;
                border-right: 2px solid var(--color-accent);
                border-bottom: 2px solid var(--color-accent);
                transform: translateY(-50%) rotate(45deg);
            }

            &:hover {
                background: var(--color-light);
                border-color: var(--color-primary);
            }
        }
    }
}