.personal-info-form {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	width: 100%;
    max-width: 600px;
}

.personal-info-form__field {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	width: 100%;
}

.personal-info-form__field input,
.personal-info-form__field textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid var(--color-input-stroke);
	border-radius: var(--border-radius-large);
	font-size: 16px;
	background: var(--color-light);
	box-sizing: border-box;
}

.personal-info-form__field input:focus,
.personal-info-form__field textarea:focus {
	outline: none;
	border-color: var(--color-primary);
}

.personal-info-form__address-item {
	display: flex;
	align-items: center;
	gap: 0.25rem;
}

.personal-info-form__address-item h3 {
	margin: 0;
	font-size: 1rem;
	color: var(--color-text);
	white-space: nowrap;
}

.personal-info-form__address-item input {
	flex: 1;
	height: 44px; 
    max-width: 44px;
    border-radius: var(--border-radius-small);
    border: 1px solid var(--color-input-stroke);
	padding: 0 12px;
}

.personal-info-form__address-row {
	display: flex;
	justify-content: space-between; 
	align-items: center;
	width: 100%;
	flex-wrap: nowrap; 
	gap: 1rem;

}