.idea

node_modules/

# Bundle files
bundle*
*.bundle.*
/dist
/build

logs
*.log
npm-debug.log*

*.precompiled.js
.npm

# Output of 'npm pack'
*.tgz

# dotenv environment variable files
.env
.env.*
!.env.example
