.button {
	display: inline-flex;
	color: var(--color-light);
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: var(--border-radius-large);
	cursor: pointer;
	position: relative;
	min-width: 7rem;
	height: 2.5rem;
	font-size: var(--button-font-size);
	font-weight: var(--button-font-weight);
}

.button--accent {
	background: var(--color-accent);
}

.button--accent:hover {
	background: var(--color-accent-hover);
}

.button--success {
	background: var(--color-success);
}

.button--success:hover {
	background: var(--color-success-hover);
}

.button--error {
	background: var(--color-err);
}

.button--error:hover {
	background: var(--color-err-hover);
}

.button--primary {
	background: var(--color-primary);
}

.button--primary:hover {
	background: var(--color-hover);
}

.button__content {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}
