.cards-header {
    width: 100%;
    margin: 20px 0 40px 0;
}

.cards-header h2 {
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: bold;
}

.filters {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 20px;
    
    background-color: var(--color-background-accent);
    border-radius: var(--border-radius-large);
    flex-wrap: wrap;

    box-shadow: var(--shadow);
}

.filters button {
    border: none;
    background: transparent;
    padding: 8px 15px;
    cursor: pointer;
    font-size: 16px;
}

.filters button.active {
    background: var(--color-light);
    border: 1px solid var(--color-primary);
}

.filters button:hover {
    background: var(--color-light);
    border: 1px solid var(--color-primary);
}

.sort {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.more {
    position: relative;
    display: inline-block;
}

.more::after {
    content: '';
    position: absolute;
    right: 10px;
    top: 40%;
    width: 8px;
    height: 8px;
    border-right: 2px solid var(--color-accent);
    border-bottom: 2px solid var(--color-accent);
    transform: translateY(-50%) rotate(45deg);
}

.more button {
    padding-right: 25px;
}

.sort {
    position: relative;
    padding-left: 20px;
    cursor: pointer;
}

.sort::before {
    content: '↑↓';
    position: absolute;
    left: 1px;
    top: 40%;
    transform: translateY(-50%);

    color: var(--color-accent);

    font-size: 16px;
    font-weight: 900;
}