.cards-header {
    width: 100%;
    margin: 20px 0 40px 0;
}

.cards-header h2 {
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: bold;
}

.filters {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 20px;
    background-color: whitesmoke;
    border-radius: 30px;
    flex-wrap: wrap;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.filters button {
    border: none;
    background: transparent;
    padding: 8px 15px;
    cursor: pointer;
    font-size: 16px;
}

.filters button.active {
    background: white;
    border: 1px solid whitesmoke;
}

.filters button:hover {
    background: white;
    border: 1px solid whitesmoke;
}

.sort {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}