<div class="cards-header">
    <h2>Рестораны</h2>
    <div class="filters">
        <button class="active">Все</button>
        <button>Самовывоз</button>
        <button>Бургеры</button>
        <button>Суши</button>
        <button>Пицца</button>
        <button>Вок</button>
        <button>Паста</button>
        <button>Завтраки</button>
        <div class="more">
            <button>Ещё</button>
        </div>
        <div class="sort">
            <span>Сортировка</span>
        </div>
    </div>
</div>

<div class="container">
</div>