<div class="store">
    <div class="column" style="flex: 1" id="menuCol">
    </div>
    <div class="column" style="flex: 2" id="contentCol">
    </div>
    <div class="column" style="flex: 1" id="cartCol">
    </div>
</div>
