.store-card {
	display: inline-block;
	width: 20%;
	min-width: 260px;
	margin-bottom: 30px;
	padding: 0 10px;

	&__container {
		display: flex;
		flex-direction: column;
		cursor: pointer;
		width: 100%;
		height: 180px;
		border-radius: var(--border-radius-large);
		background-color: var(--color-light);
		box-shadow: var(--shadow);

		&:hover {
			box-shadow: var(--shadow-hover);
		}
	}

	&__image-wrapper {
		position: relative;
		width: 100%;
		height: 65%;
		border-radius: var(--border-radius-large);
		overflow: hidden;
		flex-shrink: 0; 
	}

	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__fav {
		position: absolute;
		display: flex;
		padding: 4px;
		top: 10px;
		right: 10px;
		border-radius: 50%;
		background: var(--color-dark-transparent);

		&:hover {
			background: var(--color-dark-transparent-hover);
		}
	}

	&__fav-image {
		width: 32px;
		height: 32px;
		border-radius: 50%;
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 10px;
		height: 35%;
	}

	&__info {
		display: flex;
		width: 100%;
		justify-content: space-between;
	}

	&__name {
		font-size: 16px;
		font-weight: 600;
		color: var(--color-dark);
		margin: 0;
	}

	&__rating {
		display: flex;
		gap: 5px;
		align-items: center;
	}

	&__rating-icon {
		width: 15px;
		height: 15px;
		border-radius: 50%;
	}

	&__rating-value {
		font-size: 14px;
		color: var(--color-gray);
	}

	&__time {
		display: flex;
		gap: 5px;
		align-items: center;
	}

	&__time-icon {
		width: 15px;
		height: 15px;
		border-radius: 50%;
	}

	&__time-value {
		font-size: 14px;
		color: var(--color-gray);
	}
}
