.main-page {
    display: flex;
    flex-direction: column;

    &__container {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 90%;
        min-height: 80vh;
        padding: 2rem;
        box-sizing: border-box;
        margin: 0 auto;
    }
}