.profile-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 1.5rem auto;
    justify-content: center;
    gap: 1rem;
    flex: 1;
  }

  &__content {
    display: flex;
    width: 100%;
    width: fit-content;
    margin: 1.5rem auto;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }

  &__loading {
    text-align: center;
    padding: 2rem;
  }

  &__form-section {
    min-width: 400px;
  }

  &__title {
    margin-bottom: 0.75rem;
  }

  &__sidebar {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    min-width: 300px;
  }

  &__avatar-section,
  &__password-section {
    margin-bottom: 1.5rem;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
}