.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
	background: var(--color-light);
	border-bottom: 1px solid var(--color-input-stroke);
	box-shadow: var(--shadow);
	position: sticky;
	top: 0;
	height: 5rem;
	z-index: 1;
	border-radius: 0 0 var(--border-radius-medium) var(--border-radius-medium);

	&__left {
		display: flex;
		align-items: center;
		gap: 1rem;
	}

	&__right {
		display: flex;
		gap: 1rem;
		align-items: center;
	}

	&__cartWrapper {
        position: relative;
        display: inline-block;
    }

    &__cartBadge {
        position: absolute;
        top: -5px;
        right: -5px;
        background: var(--color-accent);
        color: white;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        font-size: 12px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
    }
}

