
.change-password-form {
	display: flex;
	flex-direction: column;
	gap: 15px;
	max-width: 400px;
	width: 100%;
	margin: 0 auto;
}

.change-password-form__field input {
	padding: 12px;
	border: 1px solid var(--color-input-stroke);
	border-radius: var(--border-radius-large);
	font-size: 16px;
	width: 100%;
	box-sizing: border-box;
	text-align: left;
}

.change-password-form__field input:focus {
	border-color: var(--color-primary);
	outline: none;
}

.change-password-form__submit {
	width: 100%;
}

.change-password-form__error {
	font-size: 15px;
	color: var(--color-err);
	display: none;
	text-align: center;
}

.change-password-form__error.active {
	display: block;
}