
.password-form {
	display: flex;
	flex-direction: column;
	gap: 15px;
	max-width: 400px;
	width: 100%;
	margin: 0 auto;

	
	&__field input {
		margin: 0.5rem;
		padding: 0.75rem;
		border: 1px solid var(--color-input-stroke);
		border-radius: var(--border-radius-large);
		font-size: 1rem;
		width: 100%;
		box-sizing: border-box;
		text-align: left;

		&:focus {
			border-color: var(--color-primary);
			outline: none;
		}
	}


	&__submit {
		width: 100%;
	}

	&__error {
		font-size: 1rem;
		color: var(--color-err);
		display: none;
		text-align: center;

		&active {
			display: block;
		}
	}
}