.main-page {
    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        min-height: 80vh;
        padding: 2rem;
        box-sizing: border-box;
    }
}