.payment {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
	width: 100%;
	padding: 1.25rem;

	&__section {
		display: flex;
		flex-direction: column;
		gap: 0.75rem;
	}

	&__row {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__field {
		width: 100%;
		gap: 1rem;

		input {
			width: 100%;
			padding: 12px;
			border: 1px solid var(--color-input-stroke);
			border-radius: var(--border-radius-large);
			font-size: 16px;
			background: var(--color-light);
			box-sizing: border-box;
			max-width: 75%;
		}

		&:focus {
			outline: none;
			border-color: var(--color-primary);
		}
	}
}