.icon-button {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: none;
	border: none;
	cursor: pointer;
	border-radius: var(--border-radius-small);
	min-width: 60px;
	outline: none;

	&:hover {
		opacity: 0.9;
	}

	&__image {
		width: 30px;
		height: 30px;
		object-fit: contain;
		border-radius: 50%;
		display: block;
		margin: 0;
	}

	&__text {
		font-size: 0.85rem;
		color: var(--color-dark);
		margin-top: 4px;
		white-space: nowrap;
	}

}
